.movie_body {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 13px 27px -5px rgba(184, 184, 255, 0.515),
        0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);

    min-height: 80vh;
}

.movie_img_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 600px;
}

.movie_img {
    padding-top: 5%;
    max-width: 60%;
    height:fit-content;
    object-fit: contain;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.movie_rating_body {
    padding-top: 30px;
    display: flex;
}

.movie_rating {
    position:relative;
    font-size: 40px;
    top: -15px;
    margin-left: 20px;
    color: #f85454;
}

.movie_info_body {
    width: 60%;
}

.runtime {
    padding-top: 30px;
    font-size: 25px;
}

.movie_genres {
    list-style: none;
    padding: 30px 20px 0px 0px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.movie_genres li {
    margin-right:30px;
    font-size: 20px;
    line-height: 50px;
}


.title {
    font-size:50px;
    margin-bottom: 0px;
}

.descriptionName {
    font-size: 40px;
    padding-top: 40px;
}

.description {
    padding-top: 30px;
    padding-right: 20px;
    font-size: 20px;
}
.line {
    height: 1px;
    width: 90%;
    border: 1px solid gray;
}